[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
black = "*"
flake8 = "*"

[packages]
numpy = "*"
chainer = "*"
pandas = "*"
opencv-python = "*"
pillow = "*"
cupy-cuda90 = "==7.5.0"
pip = "*"
matplotlib = "*"

[requires]
python_version = "3.6.6"

[pipenv]
allow_prereleases = true
